In [1]:
import numpy as np
import pandas as pd
import math 
import matplotlib as plt

## 1.  (a)command that returns 'a' from the string

In [2]:
s = 'Great'

In [3]:
s

'Great'

In [4]:
s[3]

'a'

##  (b)program to find out the second smallest number in the list given

In [5]:
li=[32, 3, 5, 8, 33, 7]

li

[32, 3, 5, 8, 33, 7]

In [6]:
li.sort()

In [7]:
li

[3, 5, 7, 8, 32, 33]

In [8]:
li[1]

5

## (c) the unique values of the list given below

In [9]:
mylist=[1,1,5,3,3,6,11,11]

In [10]:
print(set(mylist))

{1, 3, 5, 6, 11}

##  d program to print cube root of 216 using appropriate syntax

In [11]:
x = 216
cuberoot = np.cbrt(x)
print(cuberoot)

6.0

## 2.  Replace the value 'hello' in the below nested list with 'bye'

In [12]:
a = [1, 2, [3, 4, 'hello']] 
a

[1, 2, [3, 4, 'hello']]

In [13]:
a[2][2] = 'bye'
print(a)

[1, 2, [3, 4, 'bye']]

## 3. write a program that returns [‘object0’]

In [14]:
dict1 = {'a':9, 'b':(2,3,1), 'c':['object0','object1','object2']}
dict1

{'a': 9, 'b': (2, 3, 1), 'c': ['object0', 'object1', 'object2']}

In [15]:
print(dict1['c'][0])

object0

## 4. program to calculate the area of a circle. The program should ask for an appropriate input and print the computed area

In [16]:
PI = 3.14
while True:
    print(" please enter radius of the cirlce")
    r = input()
    try:
        r = float(r)
    except:
        print("invalid input, please enter a number")
        continue
    break
area = PI * r * r
print("Area if the circle %.2f" %area)

 please enter radius of the cirlce

invalid input, please enter a number
 please enter radius of the cirlce

invalid input, please enter a number
 please enter radius of the cirlce

invalid input, please enter a number
 please enter radius of the cirlce

invalid input, please enter a number
 please enter radius of the cirlce
rew
invalid input, please enter a number
 please enter radius of the cirlce
5
Area if the circle 78.50

## 5. take two lists X & Y as input and it will return a list having all the odd numbers present in the two lists

In [17]:
X=[1,2,3,4,5] 
Y=[5,6,7,8,9]

In [18]:
X

[1, 2, 3, 4, 5]

In [19]:
Y

[5, 6, 7, 8, 9]

In [20]:
X.extend(Y)
print(X)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [21]:
for i in range (len(X)):
    if i%2 != 0:
        print(i)

1
3
5
7
9

## 6. take two lists X & Y as input and it will return a list having all the odd numbers present in the two lists

In [22]:
for i in range(1,16):
    if i %3  == 0 and i %5 != 0:
        print("Great")
    elif i % 5 == 0 and i % 3!=0:
        print("Learning")
    elif i % 3 == 0 and i % 5 == 0:
        print("GreatLearning")
    else:
        print(i)

1
2
Great
4
Learning
Great
7
8
Great
Learning
11
Great
13
14
GreatLearning